<div class="side-bar">
  <div class="side-bar-title">
    <span>{{ title }}</span>
  </div>
  <div class="side-bar-container">
    <div class="container container-1">
      <div class="container-header">
        <span>Header container-1</span>
      </div>
      <div class="container-content"></div>
    </div>
    <div class="container container-2">
      <div class="container-header">
        <span>Header container-2</span>
      </div>
      <div class="container-content"></div>
    </div>
    <div class="container container-3">
      <div class="container-header">
        <span>Header container-3</span>
      </div>
      <div class="container-content"></div>
    </div>
    <div class="container container-4">
      <div class="container-header">
        <span>Header container-4</span>
      </div>
      <div class="container-content"></div>
    </div>
    <div class="container container-5">
      <div class="container-header">
        <span>Header container-5</span>
      </div>
      <div class="container-content"></div>
    </div>
  </div>
</div>
