@import "./styles/variables";

* {
  cursor: default;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #42a4f5;
  height: $header_height;
}

.main {
  display: flex;
  flex-direction: row;
  min-height: $main_min_height;

  .content {
    background-color: #90caf9;
    width: calc(100% - $side_bar_width);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  // bottom: -80px;
  width: 100%;
  height: $footer_height;
  min-height: $footer_height;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;

  // transition: transform 0.3s ease-out;

  $squareWidth: 50px;
  $squareWidthHover: 70px;

  // &:hover {
  // 	transform: translateY(-80px);
  //   }

  .square {
    background-color: #42a4f5;
    border-radius: $border_radius;
    width: $squareWidth;
    min-width: $squareWidth;
    height: $squareWidth;
    min-height: $squareWidth;
    transition: all 0.2s ease-in-out;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
      width: $squareWidthHover;
      height: $squareWidthHover;
    }
  }
}
